n8n.json
{
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 17,
              "weekday": "5"
            }
          ]
        }
      },
      "name": "Cron – Piątek 17:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -848,
        296
      ],
      "id": "40253f21-9c8f-4e89-a764-36f28ddf4b39"
    },
    {
      "parameters": {
        "sheetId": "16nYHJy38A1BfEKA485PZYvyrNXzCPWEJHa7oS8D4drA",
        "rawData": true,
        "options": {}
      },
      "name": "Google Sheets – Aktywnosci",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -624,
        224
      ],
      "id": "fbc20e50-ef46-4b35-855f-9762bde370c2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AepdgD0AInbXXb9A",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sheetId": "1RRZiB8P17IhI_ApOBq5PkxV5pshbNnAyQlm3MQlclJ4",
        "range": "Arkusz1",
        "rawData": true,
        "options": {}
      },
      "name": "Google Sheets – Miejsca",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        848,
        296
      ],
      "id": "da960d7c-7b3f-4a00-9d70-f1443cee4b77",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AepdgD0AInbXXb9A",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const aktywnosci = items.filter(i => i.json.typ).map(i => `- ${i.json.nazwa} (${i.json.typ})`).join('\\n');\n\nconst miejsca = items.filter(i => i.json.energia).map(i => `- ${i.json.nazwa} (${i.json.typ})`).join('\\n');\n\nreturn [{ json: { context: `AKTYWNOŚCI:\\n${aktywnosci}\\n\\nMIEJSCA:\\n${miejsca}` } }];"
      },
      "name": "Function – Kontekst",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -400,
        152
      ],
      "id": "ba51afab-594a-4cf4-9bca-0dcabcfbbe28"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.id_chat }}",
        "message": "=🧭 *PLAN WEEKENDU*\\n{{ $('Message a model').item.json.output[0].content[0].text }}\\n\\n\\n✅ Akceptuję\\n🔁 Generuj nowy",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Tak czy nie",
              "fieldType": "radio",
              "defaultValue": "Tak",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Tak"
                  },
                  {
                    "option": "Nie"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "name": "Telegram – Wyślij plan",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        400,
        80
      ],
      "id": "0381a485-655f-427d-931f-9218bf64b4eb",
      "webhookId": "8870d552-2e09-4425-92eb-395daaa86e23",
      "credentials": {
        "telegramApi": {
          "id": "gFqrqvMMuykchDgs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Jesteś asystentem planowania weekendu. Tworzysz lekki, atrakcyjny plan weekendu, który konkuruje ze scrollowaniem social mediów."
            },
            {
              "content": "=Zasady:\\\\n- brak godzin, tylko: rano / popołudnie / wieczór\\\\n- sobota i niedziela\\\\n- każdego dnia: ruch, odpoczynek bez poczucia winy, 1 element rozwojowy\\\\n- maks 2 aktywności na blok\\\\n- styl: spokojny, przyjazny, inspirujący\\\\n\\\\nDane:\\\\n{{$json.context}}\\\\n\\\\nNa końcu dodaj INTENCJĘ WEEKENDU i PYTANIE ROZWOJOWE."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -176,
        80
      ],
      "id": "efa5f952-68a4-4b1b-94c8-25e8452bdf48",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "8z6fF0njNGN7axS5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "r5iHFZ9vD734mOPl",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "/projects/bObCSV5kAX5lUQ0D/datatables/r5iHFZ9vD734mOPl"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        176,
        80
      ],
      "id": "2ddd6407-14cf-4030-9d4e-a9e2f2b6d348",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "06de9b38-b70b-4038-a830-89b0a2f02bc7",
              "leftValue": "={{ $json.data['Tak czy nie'] }}",
              "rightValue": "NIe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        80
      ],
      "id": "6253031e-6ff7-47d7-9fe4-e128571be3e6",
      "name": "Czy akceptacja"
    },
    {
      "parameters": {
        "chatId": "={{ $('Get row(s)').item.json.id_chat }}",
        "text": "Koniec",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        32
      ],
      "id": "cd9f15b4-a00b-427d-911f-0e7b6d982123",
      "name": "Send a text message",
      "webhookId": "45bbf6c3-d536-4584-aaf9-aa5208827d06",
      "credentials": {
        "telegramApi": {
          "id": "gFqrqvMMuykchDgs",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Cron – Piątek 17:00": {
      "main": [
        [
          {
            "node": "Google Sheets – Aktywnosci",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets – Miejsca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets – Aktywnosci": {
      "main": [
        [
          {
            "node": "Function – Kontekst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets – Miejsca": {
      "main": [
        [
          {
            "node": "Function – Kontekst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function – Kontekst": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram – Wyślij plan": {
      "main": [
        [
          {
            "node": "Czy akceptacja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Telegram – Wyślij plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czy akceptacja": {
      "main": [
        [
          {
            "node": "Google Sheets – Miejsca",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets – Aktywnosci",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc1ba0345969f7228871df9e64b3b47e4f43ee33b19ce42717b44162e39dba6e"
  }
}
